# contains secrets
.env

# used for loading the chrome extention for development
chrome-extension.zip

# all my email content! 
training/email_data
temp_classifiers/

# specific to user, created dynamically for you by getData.js
training/OLDEST_EPOCH_MS
training/LATEST_EPOCH_MS

# node
training/node_modules/

